.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #0074D9;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  padding: 1px 0;
  background-color: #001f3f;
  text-align: center;
  color: white;
}

.form-group {
  float: left;
  margin: 0;
  border: none;
  padding: 20px 1%;
}

.form-group-label {
  display: block;
}

.form-group-amount {
  width: 23%;
}

.form-group-currency {
  width: 34%;
}

.submit-container {
  text-align: center;
}

.button-submit {
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  background-color: #0074D9;
  font-size: 24px;
  color: white;
}

.result {
  padding: 50px 0;
  text-align: center;
}

.footer {
  padding: 30px 0;
  text-align: center;
}